@charset "UTF-8";
/* ==========================================================================
   Your project!
   ========================================================================== */
/*
 * Don't write any css in here, just import your partials.
 * This will compile to css/style.css
 */

/*
 * Import Compass and Compass plugins
 */
@import "compass";
@import "compass/typography/vertical_rhythm";
@import "modular-scale";

/*
 * Import your variables and Scales
 */
@import "partials/vars";
@import "scales/scales";


/*
 * This is where you start importing all of your partials.
 *
 * If you are styling objects from Scales, I recommend creating a partial with the same name
 * as the one in Scales and importing it here.
 *
 * Example: use @import "partials/nav" if you are adding style to the nav object.
 */
 // @import "partials/nav";
 html{@include debug-vertical-alignment();}