// ==========================================================================
// Variables
// ========================================================================== */
//
// These variables give you access to change many of the values in Scales.
// You should also add your own project specific variables to this file.
// Some values are in px for familiarity, but are converted to em.
///


//
// Base font and line height for vertical rhythm.
// For accessibility, $base-line-height should be 1.5 times the $base-font-size
// http://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation
///
$base-font-size: 16px !default;
$base-line-height: 24px !default;

//
// Set this to true to cut the space between lines in half.
// Your vertical rhythm will not line up with the pink debug lines if you use this.
///
$round-to-nearest-half-line: false !default;

//
// Modular Scale
//
// Instead of setting arbitrary values for font sizes, padding, widths, etc.
// we can use values up and down our modular scale which have meaning
// in relation to one another.
//
// Don't be scared. Start here: http://thesassway.com/projects/modular-scale
//
///
$ms-base: $base-font-size $base-line-height;
$ms-ratio: $fourth;

//
// At 16px $base-font-size your available modular scale values are:
//
// ms(-5)  =   8px
// ms(-4)  =   9px
// ms(-3)  =  10px
// ms(-1)  =  12px
// ms(0)   =  16px
// ms(1)   =  18px
// ms(2)   =  21px
// ms(3)   =  24px
// ms(4)   =  28px
// ms(5)   =  32px
// ms(6)   =  38px
// ms(7)   =  43px
// ms(8)   =  51px
// ms(9)   =  57px
// ms(10)  =  67px
///


//
// A good primer on Compass Vertical Rhythm. Read this before you get lost:
// http://atendesigngroup.com/blog/vertical-rhythm-compass
///
@include establish-baseline;


//
// Responsive design breakpoints
//
// Scales is a mobile-first framework, so it needs to know when you want
// to begin applying "non-mobile" styles to the design patterns.
//
// It is not advisable to set breakpoints in responsive designs based on specific
// device widths. Instead, breakpoints should be applied when your content begins
// to look awkward. If there are other widths that you need to specifically support
// and a named variable makes sense, feel free to add it here (ex. $desk-start: 64.0625em; // 1025px ).
//
// Using ems instead of px allows your breakpoints to be relative to your $base-font-size.
//
// Usage:
// @media screen and (min-width: $palm-end) { [Styles Here] }
///
$palm-end: 30.0625em !default; // 481px


//
// Heading sizes.
///
$h1-size: ms(5) !default; // .alpha
$h2-size: ms(4) !default; // .beta
$h3-size: ms(3) !default; // .gamma
$h4-size: ms(2) !default; // .delta
$h5-size: ms(1) !default; // .epsilon
$h6-size: ms(0) !default; // .zeta

//
// Variables for small text sizes
///
$small-text: ms(-1) !default;
$micro-text: ms(-3) !default;


//
// Link state colors.
///
$link-color: blue !default;
$link-interaction-color: darkblue !default; // :hover, :active, :focus


//
// Set your default font stack and headline font options.
///
$typeface: sans-serif !default;
$headline-font: sans-serif !default;
$headline-weight: normal !default;

//
// Color variables - You should change these!
///
$primary-color: blue !default;
$secondary-color: purple !default;
$text-color: #333 !default; //http://ianstormtaylor.com/design-tip-never-use-black/
$warning-color: orange !default;
$error-color: red !default;
$success-color: green !default;
$highlight-color: yellow !default;

//
// Highlight colors for when you select text on the page
///
$selection-bg-color: azure !default;
$selection-text-color: $text-color !default;
