// ==========================================================================
// Size overrides
// ==========================================================================

//
// A set of classes for changing the width of an element.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Available variables
///
$size-range-start: 5;
$size-range-end: 100;
$size-step-value: 5;

//
// Size classes
//
// This will generate a list of classes in the format `.size-[percent]`.
// By default it will generate a class for every 5% step from 5 to 100.
///
$size: $size-range-start;

@while $size <= $size-range-end {
    .size-#{$size} {
        width: unquote('#{$size}%') !important;
    }
    $size: $size + $size-step-value;
}
