// ==========================================================================
// Media Object
// ==========================================================================

// Use the media object any time you have an image or other media and text
// next to each other.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Available Variables
///
$media-gutter: 1em !default;
$media-gutter-tiny: $media-gutter / 4 !default;
$media-gutter-small: $media-gutter / 2 !default;
$media-gutter-large: $media-gutter * 2 !default;
$media-gutter-huge: $media-gutter * 4 !default;
$media-stacked-breakpoint: 25em !default;

//
// Media object classes
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media {
  @extend %ClearFix;

  display: block;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
  float: left;
  margin-right: $media-gutter;

  > img {
    display: block;
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}Media__body {
  overflow: hidden;
  display: block;

  > :last-child,
  & {
    margin-bottom: 0;
  }
}

//
// Reversed media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--rev {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    float: right;
    margin-right: 0;
    margin-left: $media-gutter;
  }
}

//
// Flush media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--flush {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    margin-right: 0;
    margin-left: 0;
  }
}

//
// Tiny media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--tiny {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    margin-right: $media-gutter-tiny;
  }

  // Reversed
  &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--rev {
    > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
      margin-right: 0;
      margin-left: $media-gutter-tiny;
    }
  }
}

//
// Small media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--small {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    margin-right: $media-gutter-small;
  }

  // Reversed
  &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--rev {
    > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
      margin-right: 0;
      margin-left: $media-gutter-small;
    }
  }
}

//
// Large media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--large {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    margin-right: $media-gutter-large;
  }

  // Reversed
  &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--rev {
    > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
      margin-right: 0;
      margin-left: $media-gutter-large;
    }
  }
}

//
// Huge media object
///
.#{$scales-namespace}#{$scales-objects-class-namespace}Media--huge {
  > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
    margin-right: $media-gutter-huge;
  }

  // Reversed
  &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--rev {
    > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
      margin-right: 0;
      margin-left: $media-gutter-huge;
    }
  }
}

//
// Stacked media object at smaller screen width
///

@media all and (max-width: $media-stacked-breakpoint) {
  //
  // Default stacked media object
  ///
  .#{$scales-namespace}#{$scales-objects-class-namespace}Media--stacked {
    > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
      display: block;
      float: none;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: $media-gutter;
    }

    //
    // Tiny media object
    ///
    &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--tiny {
      > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: $media-gutter-tiny;
      }
    }

    //
    // Small media object
    ///
    &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--small {
      > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: $media-gutter-small;
      }
    }

    //
    // Large media object
    ///
    &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--large {
      > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: $media-gutter-large;
      }
    }

    //
    // Huge media object
    ///
    &.#{$scales-namespace}#{$scales-objects-class-namespace}Media--huge {
      > .#{$scales-namespace}#{$scales-objects-class-namespace}Media__figure {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: $media-gutter-huge;
      }
    }
  }
}
