// ==========================================================================
// Lists
// ==========================================================================
//
// Simple list modifier to remove margin and bullets from a list
//
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-base-class-namespace: null !default;

//
// Bare List mixin
///

@mixin List--bare {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

//
// Bare list
//
// Use as a class or extend the placeholder
///
.#{$scales-namespace}#{$scales-base-class-namespace}List--bare,
%List--bare {
  @include List--bare;
}
