/* ==========================================================================
   Forms
   ========================================================================== */

fieldset {
    padding: $base-rhythm-unit;
}

/*
 * **NOTE** on Text inputs
 *
 * Instead of a `[type]` selector for each kind of form input, we just use a
 * class to target any/every one, e.g.:
   <input type="text" class="text-input">
   <input type="email" class="text-input">
   <input type="password" class="text-input">
 *
 * You should style .text-input and textarea in your own partial
 *
 */


/*
 * Use an unordered list to mark up your groups of form fields
 *
   <ul class="form-fields">
       <li>
           <label />
           <input />
       </li>
       <li>
           <label />
           <select />
       </li>
       <li>
           <label />
           <input />
       </li>
   </ul>
 *
 */
.form-fields {
    list-style: none;
    margin: 0;
}

.form-fields > li {
    @extend %sass-margin-bottom;
}

.form-fields > li:last-child {
    margin-bottom: 0;
}


/*
 * Labels
 *
 * The ".label" class can be used to make an element look like a label if an actual label
 * isn't suitable.
 *
 */
label, .label {
    display: block;
}

/*
 * Extra help text in labels
 *
   <label>Username <small class="additional">No special characters</small></label>
 *
 */
.additional {
    display: block;
    font-weight: normal;
}


/*
 * Groups of checkboxes and radios
 *
   <li>
       <ul class="check-list">
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.check-list {
    @extend .form-fields;
}

/*
 * Labels in check-lists
 */
.check-label,
.check-list label,
.check-list .label {
    display: inline-block;
}


/*
 * Extra help text displayed after a field when that field is in focus
 *
   <label for="email">Username:</label>
   <input type="email" id="email" class="text-input">
   <span class="extra-help">Enter your email address</span>
 *
 * We leave the help text in the document flow and merely set it to
 * `visibility: hidden;`. This means that it won’t interfere with anything once
 * it reappears.
 *
 */
.extra-help {
    display: inline-block;
    visibility: hidden;
}
.text-input:active + .extra-help,
.text-input:focus + .extra-help {
    visibility: visible;
}