/* ==========================================================================
   Default spacing
   ========================================================================== */
h1, h2, h3, h4, h5, h6,
ul, ol, dl, p, blockquote,
.media, form {
    margin: 0 10px;
}

h1, h2, h3, h4, h5, h6,
img {
    padding-bottom: 0;
}

pre {
    margin: 0 10px;
}

table h1, table h2, table h3, table h4, table h5, table h6,
table p, table ul, table ol, table dl {
    padding: 0;
}
p, figure {
    @include trailer;
}

h1, h2, h3, h4, h5, h6 {
    @include rhythm(.5,0,0,.5);
}