// ==========================================================================
// Typography
// ==========================================================================
//
// These are base styles for typographic elements
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-base-class-namespace: null !default;

//
// Available Variables
///
$base-text-color: #333 !default; //http://ianstormtaylor.com/design-tip-never-use-black/
$heading-color: $base-text-color !default;
$text-margins: 0 !default;
$heading-margins: 0 !default;
$measure: 30em !default;
$narrow-measure: 20em !default;
$code-block-padding: 0 1em 1em !default;
$code-block-margins: 0 !default;
$code-block-bg-color: #444 !default;
$code-block-text-color: #fff !default;
$pre-wordwrap: false !default;
$reset-heading-sizes: false !default;

// Custom heading utility name variables
$custom-h1-utility-class: Alpha !default;
$custom-h2-utility-class: Beta !default;
$custom-h3-utility-class: Gamma !default;
$custom-h4-utility-class: Delta !default;
$custom-h5-utility-class: Epsilon !default;
$custom-h6-utility-class: Zeta !default;

// Fonts
$system-body-fonts: true !default;
$system-heading-fonts: true !default;
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !default;
$monospaced-font-stack: consolas, monaco, courier, monospace !default;
$body-font-stack: Garamond, 'Hoefler Text', 'Times New Roman', Times, serif !default;
$heading-font-stack: Helvetica, 'Helvetica Neue', Arial, sans-serif !default;
$heading-font-weight: normal !default;
$font-size-unit: rem !default;

// Font size and line height
$base-font-size: 1#{$font-size-unit} !default;
//
// For accessibility, $base-line-height should be 1.5 times the $base-font-size
// http://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation
///
$base-line-height: 1.5 !default;
$heading-line-height: 1.5 !default;
$lede-font-size: 1.25#{$font-size-unit} !default;

// Heading sizes
$h1-size: 2.25#{$font-size-unit} !default;
$h2-size: 2#{$font-size-unit} !default;
$h3-size: 1.75#{$font-size-unit} !default;
$h4-size: 1.5#{$font-size-unit} !default;
$h5-size: 1.25#{$font-size-unit} !default;
$h6-size: 1#{$font-size-unit} !default;


//
// Base Typography Styles
///
body {
  @if $system-body-fonts {
    font-family: $system-font-stack;
  } @else {
    font-family: $body-font-stack;
  }

  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
}

p,
.#{$scales-namespace}#{$scales-base-class-namespace}Lede,
.#{$scales-namespace}#{$scales-base-class-namespace}Lead {
  margin: $text-margins;
}

//
// Headings
//
// Extra class names allow same font-size to be used on other elements
///
h1,
h2,
h3,
h4,
h5,
h6,
.#{$scales-namespace}#{$scales-base-class-namespace}H1,
.#{$scales-namespace}#{$scales-base-class-namespace}H2,
.#{$scales-namespace}#{$scales-base-class-namespace}H3,
.#{$scales-namespace}#{$scales-base-class-namespace}H4,
.#{$scales-namespace}#{$scales-base-class-namespace}H5,
.#{$scales-namespace}#{$scales-base-class-namespace}H6,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h1-utility-class},
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h2-utility-class},
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h3-utility-class},
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h4-utility-class},
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h5-utility-class},
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h6-utility-class} {
  @if $system-heading-fonts {
    font-family: $system-font-stack;
  } @else {
    font-family: $heading-font-stack;
  }

  font-weight: $heading-font-weight;
  margin: $heading-margins;
  color: $heading-color;
}

h1,
.#{$scales-namespace}#{$scales-base-class-namespace}H1,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h1-utility-class} {
  font-size: $h1-size;
  line-height: $heading-line-height;
}

h2,
.#{$scales-namespace}#{$scales-base-class-namespace}H2,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h2-utility-class} {
  font-size: $h2-size;
  line-height: $heading-line-height;
}

h3,
.#{$scales-namespace}#{$scales-base-class-namespace}H3,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h3-utility-class} {
  font-size: $h3-size;
  line-height: $heading-line-height;
}

h4,
.#{$scales-namespace}#{$scales-base-class-namespace}H4,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h4-utility-class} {
  font-size: $h4-size;
  line-height: $heading-line-height;
}

h5,
.#{$scales-namespace}#{$scales-base-class-namespace}H5,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h5-utility-class} {
  font-size: $h5-size;
  line-height: $heading-line-height;
}

h6,
.#{$scales-namespace}#{$scales-base-class-namespace}H6,
.#{$scales-namespace}#{$scales-base-class-namespace}#{$custom-h6-utility-class} {
  font-size: $h6-size;
  line-height: $heading-line-height;
}

// Reset the headings sizes if you want to require a class to give them size
@if $reset-heading-sizes {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $base-font-size;
  }
}

//
// Lede/Lead - Used to make the intoductory text slightly larger
// http://en.wikipedia.org/wiki/Lead_paragraph
///
.#{$scales-namespace}#{$scales-base-class-namespace}Lede,
.#{$scales-namespace}#{$scales-base-class-namespace}Lead {
  font-size: $lede-font-size;
}

// Code blocks
pre,
code {
  font-family: $monospaced-font-stack;
  font-size: $base-font-size;
}

pre {
  @if $pre-wordwrap {
    white-space: pre;
    white-space: pre-wrap; // sass-lint:disable-line no-duplicate-properties
    word-wrap: break-word;
  }
  padding: $code-block-padding;
  margin: $code-block-margins;
  background-color: $code-block-bg-color;
  color: $code-block-text-color;
}

// Measure
.#{$scales-namespace}#{$scales-base-class-namespace}Measure {
  max-width: $measure;
}

.#{$scales-namespace}#{$scales-base-class-namespace}Measure--narrow {
  max-width: $narrow-measure;
}

// Truncation
.#{$scales-namespace}#{$scales-base-class-namespace}Truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
