// ==========================================================================
// Width Utilities
// ==========================================================================

//
// A set of classes for changing the width of an element.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-utilities-class-namespace: null !default;

//
// Available variables
///
$width-range-start: 5;
$width-range-end: 100;
$width-step-value: 5;

//
// Width classes
//
// This will generate a list of classes in the format `.Width-[percent]`.
// By default it will generate a class for every 5% step from 5 to 100.
///
$width: $width-range-start;

@while $width <= $width-range-end {
  .#{$scales-namespace}#{$scales-utilities-class-namespace}Width-#{$width} {
    width: unquote($string:'#{$width}%') !important;
  }

  $width: $width + $width-step-value;
}
