// ==========================================================================
// Horizontal List Pattern
// ==========================================================================

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Available Variables
///

$horizontal-list-delimiter: ',\00A0' !default;

//
// Horizontal List classes
///

@mixin horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;

        > a {
            display: block;
        }
    }
}

.#{$scales-namespace}horizontal-list,
%#{$scales-namespace}horizontal-list {
    @include horizontal-list;
}

.horizontal-list--center {
  text-align: center;
}

.horizontal-list--right {
  text-align: right;
}

.horizontal-list--fill {
    display: table;
    width: 100%;

    > li {
        display: table-cell;
        text-align: center;

        > a {
            display: block;
        }
    }
}

//
// Character delimited Horizontal List
///

.#{$scales-namespace}horizontal-list--delimited {
    > li {

        &:after {
            content: '#{$horizontal-list-delimiter}';
        }

        &:last-child:after {
            content: '';
        }
    }
}
