/* ==========================================================================
   Styles from HTML5 Boilerplate - h5bp.com
   ========================================================================== */
/*
 * Well, except for this first bit.
 */
html {
    font-family: $typeface;
    overflow-y: scroll;
    min-height: 100%;
}

/*
 * Now the boilerplate stuff.
 */
html, body, button, input, select, textarea {
    color: $text-color;
}

// Fancy color for when you select stuff! Change the color for your app.
::-moz-selection {
    background: $selection-bg-color;
    color: $selection-text-color;
    text-shadow: none;
}

::selection {
    background: $selection-bg-color;
    color: $selection-text-color;
    text-shadow: none;
}

// A better looking default hr.
hr {
    display: block;
    height: 1px;
    border: 0;
    @include leading-border;
    border-color: #ccc;
}


// Remove the gap between images and the bottom of their containers: h5bp.com/i/440.
img {
    vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
    resize: vertical;
}

// Chrome Frame prompt.
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
