// ==========================================================================
// Code
// ========================================================================== //
pre, code {
    font-family: menlo, monospace, sans-serif;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 ms(0) 0 ms(3);
    @include trailer;
    background-color: #444;
    color: #fff;
}
