/* ==========================================================================
   Headings
   ========================================================================== */
/**
 * Each heading also has a class so that you can apply the size to a different heading if you need to.
 */
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
    font-family: $headline-font;
	font-weight: $headline-weight;
}

h1, .alpha{
    @include adjust-font-size-to($h1-size);
    @include trailer(1, $h1-size);
}
h2, .beta{
    @include adjust-font-size-to($h2-size);
    @include trailer(1, $h2-size);
}
h3, .gamma{
    @include adjust-font-size-to($h3-size);
    @include trailer(1, $h3-size);
}
h4, .delta{
    @include adjust-font-size-to($h4-size);
    @include trailer(1, $h4-size);
}
h5, .epsilon{
    @include adjust-font-size-to($h5-size);
    @include trailer(1, $h5-size);
}
h6, .zeta{
    @include adjust-font-size-to($h6-size);
    @include trailer(1, $h6-size);
}
