/* ==========================================================================
   Images
   ========================================================================== */
img, object {
    max-width: 100%;
    height: auto;
}

figure > img {
    display: block;
}