/* ==========================================================================
   Quotes
   ========================================================================== */
q {
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: "“"; content:open-quote;
}

q:after {
    content: "”"; content:close-quote;
}

q q:before {
    content: "‘"; content: open-quote;
}

q q:after {
    content: "’"; content: close-quote;
}

blockquote {
    quotes: "“" "”";
}

blockquote p:before {
    content: "“"; content: open-quote;
}

blockquote p:after {
    content: ""; content: no-close-quote;
}

blockquote p:last-of-type:after {
    content: "”"; content: close-quote;
}


/*
 *
   <blockquote>
       <p>Insanity: doing the same thing over and over again and expecting
       different results.</p>
       <footer class=source>Albert Einstein</footer>
   </blockquote>
 *
 */
blockquote {
    text-indent: -0.4em;

    p:last-of-type {
        margin-bottom: 0;
    }
}

.source {
    display: block;
    text-indent: 0;

    &:before {
        content: "—";
    }
}