// ==========================================================================
// Quotes
// ========================================================================== //

//
// Put quotes around q and blockquote elements.
///
q {
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: "“"; content:open-quote;
}

q:after {
    content: "”"; content:close-quote;
}

q q:before {
    content: "‘"; content: open-quote;
}

q q:after {
    content: "’"; content: close-quote;
}

blockquote {
    quotes: "“" "”";
}

blockquote p:before {
    content: ""; content: no-open-quote;
}

blockquote p:first-of-type:before {
    content: "“"; content: open-quote;
}

blockquote p:after {
    content: ""; content: no-close-quote;
}

blockquote p:last-of-type:after {
    content: "”"; content: close-quote;
}


//
// See http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required
// for rational of using <figure>. Not required for these styles to work, but good semantics.
//
// <figure class="quote">
//      <blockquote>
//          <p>It is the unofficial force—the Baker Street irregulars.</p>
//      </blockquote>
//      <figcaption class="source">Sherlock Holmes, <cite>Sign of Four</cite></figcaption>
//  </figure>
//
///
blockquote {
    p {
        @include rhythm(0,0,0,.25, ms(0));
    }
    &,
    p:last-of-type {
        margin-bottom: 0;
    }
}

.source {
    display: block;
    text-indent: 0;

    &:before {
        content: "—";
    }
}
