// ==========================================================================
// Horizontal List Object
// ==========================================================================

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Available Variables
///
$horizontal-list-delimiter: ',\00A0' !default;
$horizontal-list-spacing: 1rem !default;

//
// Horizontal List classes
///

@mixin HorizontalList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin-right: $horizontal-list-spacing;
  }

  > li:last-child {
    margin-right: 0;
  }
}

%#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList,
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  @include HorizontalList;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--center {
  text-align: center;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--right {
  text-align: right;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--left {
  text-align: left;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--fill {
  display: table;
  width: 100%;

  > li {
    display: table-cell;
    text-align: center;
  }
}

//
// Character delimited Horizontal List
///
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited {
  > li {
    margin-right: 0;

    &::after {
      margin-left: $horizontal-list-spacing / 2;
      margin-right: $horizontal-list-spacing / 2;
      content: '#{$horizontal-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

// Pass in a delimiter through a data attribute
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  > [data-delimiter]::after {
    content: attr(data-delimiter);
  }
}
