// ==========================================================================
// Horizontal List Object
// ==========================================================================

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Available Variables
///
$horizontal-list-spacing: 0 !default;
$horizontal-list-spacing-tiny: 0.3rem !default;
$horizontal-list-spacing-small: 0.5rem !default;
$horizontal-list-spacing-medium: 1rem !default;
$horizontal-list-spacing-large: 2rem !default;
$horizontal-list-spacing-huge: 3rem !default;
$horizontal-list-delimiter: ',' !default;
$horizontal-list-delimiter-spacing: $horizontal-list-spacing !default;
$horizontal-list-delimiter-spacing-distribution: 'split' !default;

//
// Horizontal List classes
///

@mixin HorizontalList($spacing) {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin-right: $spacing;
  }

  > li:last-child {
    margin-right: 0;
  }
}

%#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList,
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  @include HorizontalList($spacing: $horizontal-list-spacing);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-tiny {
  @include HorizontalList($spacing: $horizontal-list-spacing-tiny);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-small {
  @include HorizontalList($spacing: $horizontal-list-spacing-small);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-medium {
  @include HorizontalList($spacing: $horizontal-list-spacing-medium);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-large {
  @include HorizontalList($spacing: $horizontal-list-spacing-large);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-huge {
  @include HorizontalList($spacing: $horizontal-list-spacing-huge);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--center {
  text-align: center;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--right {
  text-align: right;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--left {
  text-align: left;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--fill {
  display: table;
  width: 100%;

  > li {
    display: table-cell;
    text-align: center;
  }
}

//
// Character delimited Horizontal List
///
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited {
  > li {
    margin-right: 0;

    &::after {
      margin-left: $horizontal-list-delimiter-spacing / 2;
      margin-right: $horizontal-list-delimiter-spacing / 2;
      content: '#{$horizontal-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-left-distribution {
  > li {
    margin-right: 0;

    &::after {
      margin-left: $horizontal-list-delimiter-spacing;
      content: '#{$horizontal-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-right-distribution {
  > li {
    margin-right: 0;

    &::after {
      margin-right: $horizontal-list-delimiter-spacing;
      content: '#{$horizontal-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

// Pass in a delimiter through a data attribute
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  > [data-delimiter]::after {
    content: attr(data-delimiter);
  }
}
