// ==========================================================================
// Horizontal List Object
// ==========================================================================

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Available Variables
///
$horizontal-list-spacing: 0 !default;
$horizontal-list-spacing-tiny: 0.25em !default;
$horizontal-list-spacing-small: 0.5em !default;
$horizontal-list-spacing-medium: 1em !default;
$horizontal-list-spacing-large: 2em !default;
$horizontal-list-spacing-huge: 4em !default;
$horizontal-list-delimiter: ',' !default;
$space-values: (
  tiny: $horizontal-list-spacing-tiny,
  small: $horizontal-list-spacing-small,
  medium: $horizontal-list-spacing-medium,
  large: $horizontal-list-spacing-large,
  huge: $horizontal-list-spacing-huge
);

//
// Horizontal List classes
///

@mixin HorizontalList($spacing) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-right: $spacing;
  }

  > li:last-child {
    margin-right: 0;
  }
}

%#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList,
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  @include HorizontalList($spacing: $horizontal-list-spacing);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-tiny {
  @include HorizontalList($spacing: $horizontal-list-spacing-tiny);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-small {
  @include HorizontalList($spacing: $horizontal-list-spacing-small);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-medium {
  @include HorizontalList($spacing: $horizontal-list-spacing-medium);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-large {
  @include HorizontalList($spacing: $horizontal-list-spacing-large);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-huge {
  @include HorizontalList($spacing: $horizontal-list-spacing-huge);
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--center {
  justify-content: center;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--right {
  justify-content: flex-end;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--left {
  justify-content: flex-start;
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--fill {
  display: flex;
  flex-wrap: nowrap;

  > li {
    flex: 1;
  }
}

//
// Character delimited Horizontal List
///

@mixin DelimitedHorizonalList($spacing, $distribution) {
  > li {
    margin-right: 0;

    &::after {
      @if ($distribution == 'split') {
        margin-left: $spacing / 2;
        margin-right: $spacing / 2;
      }

      @else if ($distribution == 'left') {
        margin-left: $spacing;
      } @else if ($distribution == 'right') {
        margin-right: $spacing;
      }

      content: '#{$horizontal-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-split-distribution {
  @include DelimitedHorizonalList($spacing: $horizontal-list-spacing, $distribution: 'split');
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-left-distribution {
  @include DelimitedHorizonalList($spacing: $horizontal-list-spacing, $distribution: 'left');
}

.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-right-distribution {
  @include DelimitedHorizonalList($spacing: $horizontal-list-spacing, $distribution: 'right');
}

// Pass in a delimiter through a data attribute
.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList {
  > [data-delimiter]::after {
    content: attr(data-delimiter) !important;
  }
}

@each $space-name in tiny, small, medium, large, huge {
  $space-value: map-get($map: $space-values, $key: $space-name);

  .#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-#{$space-name}.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-split-distribution {
    @include DelimitedHorizonalList($spacing: $space-value, $distribution: 'split');
  }

  .#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-#{$space-name}.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-left-distribution {
    @include DelimitedHorizonalList($spacing: $space-value, $distribution: 'left');
  }

  .#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--spacing-#{$space-name}.#{$scales-namespace}#{$scales-objects-class-namespace}HorizontalList--delimited-right-distribution {
    @include DelimitedHorizonalList($spacing: $space-value, $distribution: 'right');
  }
}
