// ==========================================================================
// Clearfix
// ==========================================================================

//
// Micro clearfix from http://cssmojo.com/latest_new_clearfix_so_far/.
// Extend the clearfix placeholder (@extend %clearfix) to avoid
// the .clearfix class appearing in your markup. I mostly include the
// class for easier debugging in your browser dev tools.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-utilities-class-namespace: null !default;

//
// Available Variables
///
$clearfix-class: ClearFix !default;

//
// Clearfix Mixin
///
@mixin ClearFix{
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//
// Clearfix
///
%ClearFix,
.#{$scales-namespace}#{$scales-utilities-class-namespace}#{$clearfix-class} {
  @include ClearFix;
}
