@import "forms";
@import "buttons";

// Form variation 1
.var1 {
    label {
        color: #4F89A1;
    }

    input[type="text"] {
        border: 1px solid #999;
        background: #f5f5f5;
        @include box-shadow(rgba(0,0,0,.05) 0 5px 2px inset);
        border-radius: 4px;
        padding: ms(-6);
        &:focus {
            border: 1px solid #ccc;
            background: #fff;
        }
    }

    .btn {
        @include adjust-font-size-to(ms(0));
        padding: rhythm(.15, ms(0)) ms(0);
        font-weight: bold;
        border: 1px solid #999;
        background: #eee;
        border-radius: 4px;
        &:hover,&:focus {
            border: 1px solid #bbb;
            background: #e5e5e5;
        }
        &:active {
            border: 1px solid #ccc;
            background: #eee;
        }
    }
}

// Form variation 2
.var2 {
    label {
        color: #839F33;
    }

    input[type="text"] {
        border: 1px solid #999;
        background: #f5f5f5;
        @include box-shadow(rgba(0,0,0,.05) 0 5px 2px inset);
        padding: ms(-4);
        &:focus {
            border: 1px solid #ccc;
            background: #fff;
        }
    }

    .btn {
        @include adjust-font-size-to(ms(0));
        padding: rhythm(.15, ms(0)) ms(0);
        font-weight: bold;
        background: #839F33;
        color: #fff;
        border-radius: 5px;
        border: 0;
        &:hover, &:focus, &:active {
            background: #A3BF57;
        }
    }
}