/* ==========================================================================
   Variables
   ========================================================================== */
/*
 * These variables give you access to change many of the values in Scales.
 * You should also add your own project specific variables to this file.
 * Values are in px for familiarity, but are converted to rem.
 */


/*
 * Base font and line height for vertical rhythm
 */
$base-font-size: 16px;
$base-line-height: 24px;


/*
 * A good primer on Compass Vertical Rhythm. Read this before you get lost:
 * http://atendesigngroup.com/blog/vertical-rhythm-compass
 */
@include establish-baseline;


/**
 * Responsiveness?
 * Tell inuit.css when breakpoints start, in pixels.
 */
$responsive: true;
$lap-start: 481px;
$desk-start: 1024px;


/*
 * Font-sizes (in pixels).
 */
$h1-size: 36px; // .alpha
$h2-size: 30px; // .beta
$h3-size: 24px; // .gamma
$h4-size: 20px; // .delta
$h5-size: 16px; // .epsilon
$h6-size: 14px; // .zeta

$small-text: 12px;
$micro-text: 10px;


/*
 * Link state colors
 */
$link-color: blue;
$link-interaction-color: cornflowerblue; // :hover, :active, :focus


/*
 * Easier way to declare your font stack
 */
$typeface: Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;

/*
 * Color variables - You should change these!
 */
$primary-color: blue;
$secondary-color: purple;
$text-color: #333;
$warning-color: orange;
$error-color: red;
$success-color: green;
$highlight-color: yellow;