// ==========================================================================
// Multi Column List Object
// ==========================================================================

//
// The Multi Column List Object allows you to make a multi-column list
// out of a single list.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Multi Column List classes
///
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList {
  @extend %ClearFix;
  list-style: none;
  margin-left: 0;

  > li {
    float: left;
  }
}

//
// This mixin allows you to change the number of columns at different
// breakpoints.
///
@mixin MultiColList($columns) {
   @if $columns == 2{
    > li {
      width: 50%;
    }
  }
  @if $columns == 3 {
    > li {
      width: 33.333333333%;
    }
  }
  @if $columns == 4 {
    > li {
      width: 25%;
    }
  }
  @if $columns == 5 {
    > li {
      width: 20%;
    }
  }
  @if $columns == 6 {
    > li {
      width: 16.666666667%;
    }
  }
}

//
// Apply these classes alongside the .MultiColList class to
// set the number of columns. Placeholders are available so
// these widths can be extended instead.
///
%#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--two-columns,
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--two-columns {
  @include MultiColList(2);
}

%#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--three-columns,
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--three-columns {
  @include MultiColList(3);
}

%#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--four-columns,
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--four-columns {
  @include MultiColList(4);
}

%#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--five-columns,
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--five-columns {
  @include MultiColList(5);
}

%#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--six-columns,
.#{$scales-namespace}#{$scales-objects-class-namespace}MultiColList--six-columns {
  @include MultiColList(6);
}
