/* ==========================================================================
   Mixins
   ========================================================================== */
/*
 * If you want to force text to truncate rather than wrap to 2 lines
 */
@mixin overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}