/* ==========================================================================
   Mixins
   ========================================================================== */
/*
 * Set font sizes using rems with a px fallback and adjusted line-height
 *
 * Usage: @include font-size(24px)
 *
 */
@mixin font-size($font-size){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/*
 * If you want to force text to truncate rather than wrap to 2 lines
 */
@mixin overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}