/* ==========================================================================
   Spacing
   ========================================================================== */
/*
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */

/*
 * Base elements
 */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,

/*
 * Objects and abstractions
 */
%sass-margin-bottom,
.media,
.island,
.islet {
    @include trailer;

    .islet & {
        @include trailer(.5);
    }
}


/*
 * Doubled up `margin-bottom` helper class.
 */
.landmark {
    @include trailer(2);
}


/*
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
    margin-bottom: $base-rhythm-unit - .125em;
}


/*
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount.
 */
ul,ol,dd {
    margin-left: 2 * $base-rhythm-unit;
}
