// ==========================================================================
// Reset
// ========================================================================== //
//
// Most of this is borrowed from csswizardry.com/2011/10/reset-restarted.
///

//
// Set all elements to use "box-sizing: border-box;"
// Thanks to paulirish.com/2012/box-sizing-border-box-ftw.
///
* {
    &,
    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

//
// Remove padding and margins.
///
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr {
    margin: 0;
    padding: 0;
}

//
// Give a help cursor to elements that give extra info on ":hover".
///
abbr[title], dfn[title] {
    cursor: help;
}

//
// Fixing small so it doesn't break vertical rhythm.
///
small {
    @include adjust-font-size-to($small-text);
}

//
// So that "alt" text is visually offset if images don't load.
///
img {
    font-style: italic;
}

//
// Give form elements some cursor interactions.
///
label,
button,
select,
option {
    cursor:pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
    cursor: text;
    outline: none;
}

//
// Get rid of all the form input styles and set the font size to match the $base-font-size;
///
.text-input, textarea {
    @include appearance(none);
    @include adjust-font-size-to($base-font-size);
    padding: 0;
    margin: 0;
    border: 0;
    @include box-shadow(inset 0 1px 0 #000, inset 1px 0px 0 #000, inset -1px 0px 0 #000, inset 0px -1px 0 #000);
}
