/* ==========================================================================
   Spacing
   ========================================================================== */
/*
 * Some default vertical spacing for elements so they follow the vertical rhythm of the page.
 */

/*
 * Base elements
 */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,

/*
 * Objects and abstractions
 */
.media,
.island,
.islet {
    @include trailer;

    .islet & {
        @include trailer(.5);
    }
}

/*
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount.
 */
ul,ol,dd {
    margin-left: ms(5);
}
