// ==========================================================================
// Tables
// ==========================================================================
//
// These are base styles for tables and some helpful classes to make
// borders and padding easier.
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Available Variables
///
$table-padding-large: 1em !default;
$table-padding-medium: $table-padding-large / 2 !default;
$table-padding-small: $table-padding-large / 4 !default;
$table-border-width: 1px !default;
$table-border-style: solid !default;
$table-border-color: #000 !default;
$table-stripe-color: #ccc !default;
$table-highlight-color: #ffd700 !default;
$table-highlight-text-color: #000 !default;

//
// Main table styles
///

// You can use a .table class, but you don't have to. Tables will all
// be 100% width.
table,
.#{$scales-namespace}table {
    width: 100%;
}

//
// Cell alignments
///
[colspan] {
    text-align: center;
}
[colspan="1"] {
    text-align: left;
}
[rowspan] {
    vertical-align: middle;
}
[rowspan="1"] {
    vertical-align: top;
}
// Align numbers to the right. Especially useful for money.
.numerical {
    text-align: right;
}

//
// Cell padding options
///
.#{$scales-namespace}table--spacing-large {
    th,
    td {
        padding: $table-padding-large;
    }
}

.#{$scales-namespace}table--spacing-medium {
    th,
    td {
        padding: $table-padding-medium;
    }
}

.#{$scales-namespace}table--spacing-small {
    th,
    td {
        padding: $table-padding-small;
    }
}

//
// Bordered tables
///

// Borders around all sides
.#{$scales-namespace}table--bordered {
    th,
    td {
        border: $table-border-width $table-border-style $table-border-color;
    }
}

// Borders on just the bottom of rows
.#{$scales-namespace}table--bordered-rows {
    &,
    th,
    td {
        border: 0 $table-border-style $table-border-color;
    }

}

.#{$scales-namespace}table--bordered-rows {
    th,
    td {
        border-bottom-width: $table-border-width;
    }
}

// Borders on just the columns
.#{$scales-namespace}table--bordered-columns {
    &,
    th,
    td {
        border: 0 $table-border-style $table-border-color;
    }
}

.#{$scales-namespace}table--bordered-columns {
    border-left-width: $table-border-width;

    th,
    td {
        border-right-width: $table-border-width;
    }
}

//
// Striped tables
///

// Odd rows
.#{$scales-namespace}table--striped,
.#{$scales-namespace}table--striped-odd {
    tbody tr:nth-child(odd) {
        background-color: $table-stripe-color;
    }
}

// Even rows
.#{$scales-namespace}table--striped-even {
    tbody tr:nth-child(even) {
        background-color: $table-stripe-color;
    }
}

//
// Highlight specific row or cell
///
.#{$scales-namespace}table-highlight {
    background-color: $table-highlight-color !important;
    color: $table-highlight-text-color !important;
}

//
// Force table cells to be equal width
///
.#{$scales-namespace}table--fixed {
    table-layout: fixed;
}
