/* ==========================================================================
   Breadcrumb
   ========================================================================== */

/*
 * Make breadcrumbs horizontal instead of stacked
 */
 .breadcrumb > li, .breadcrumb--path > li {

    &,
    > a {
        @extend %horizontal;
    }
 }


/*
 * Simple breadcrumb styling to apply to ordered lists. Extends .nav
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Scales</a></li>
       <li><a href=#>Patterns</a></li>
       <li>Breadcrumb</li>
   </ol>
 *
 */
.breadcrumb > li + li:before {
    content: "» ";
}


/*
 * Path-like structure for breadcrumbs. Extends .nav
 *
   <ol class="nav breadcrumb--path">
       <li class="breadcrumb__root"><a href=#>Scales</a></li>
       <li><a href=#>Patterns</a></li>
       <li>Breadcrumb</li>
   </ol>
 *
 */
.breadcrumb--path > li + li:before {
    content: "/ ";
}


/*
 * Assign a delimiter through a data attribute
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Scales</a></li>
       <li data-breadcrumb="|"><a href=#>Patterns</a></li>
       <li data-breadcrumb="|"><a href=#>Breadcrumb</a></li>
   </ol>
 *
 */
.breadcrumb > li + li[data-breadcrumb]:before {
    content: attr(data-breadcrumb)" ";
}


/*
 * The root of the tree.
 */
.breadcrumb__root {
    font-weight: bold;
}