/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

/*
 * Simple breadcrumb styling to apply to ordered lists. Extends .nav
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Staff</a></li>
       <li>Proles</li>
   </ol>
 *
 */
.breadcrumb > li + li:before {
    content: "» ";
}


/*
 * Path-like structure for breadcrumbs. Extends .nav
 *
   <ol class="nav breadcrumb--path">
       <li class="breadcrumb__root"><a href=#>scales</a></li>
       <li><a href=#>patterns</a></li>
       <li>breadcrumbs</li>
   </ol>
 *
 */
.breadcrumb--path > li + li:before {
    content: "/ ";
}


/*
 * Assign a delimiter through a data attribute
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Home</a></li>
       <li data-breadcrumb="|"><a href=#>About</a></li>
       <li data-breadcrumb="|"><a href=#>Staff</a></li>
       <li data-breadcrumb="|">Proles</li>
   </ol>
 *
 */
.breadcrumb > li + li[data-breadcrumb]:before {
    content: attr(data-breadcrumb)" ";
}


/*
 * The root of the tree.
 */
.breadcrumb__root {
    font-weight: bold;
}