/* ==========================================================================
   Island
   ========================================================================== */

/*
 * Boxed off content
 *
   <div class="island">
       I am boxed off.
   </div>
 *
 */
[class*="island"],
[class*="islet"] {
    display: block;
    @extend %clearfix;
}

[class*="island"] {
    padding: 0 msem(3);
    @include rhythm(0,1,1,0);
}

[class*="island"] > :last-child,
[class*="islet"] > :last-child {
    margin-bottom: 0;
}


/*
 * Just like .island, only smaller.
 */
[class*="islet"] {
    padding: 0 msem(-1);
    @include rhythm(0,.5,.5,0);
}
