/* ==========================================================================
   Media
   ========================================================================== */

/*
 * Use the media pattern any time you have an image and text next to each other.
 *
 * The media element is probably the most useful OOCSS abstraction. Read more here:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 * Usage:
 *
   <div class="media">
       <img src="images/your-image.png" alt="" class="media__img">
       <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 */
.media {
    display: block;
    @extend %clearfix;
}

.media__img {
        float: left;
        margin-right: ms(-4);
    }

/*
 * Reversed image location (right instead of left).
 */
.media__img--rev {
    float: right;
    margin-left: ms(-4);
}

.media__img img,
.media__img--rev img {
    display: block;
}

.media__body {
    overflow: hidden;
}

.media__body,
.media__body > :last-child {
    margin-bottom: 0;
}