/* ==========================================================================
   Navigation
   ========================================================================== */

/**
 * Nav abstraction.
 * On small screens, .nav simply removes list markers and left margin, applies
 * clearfix, and makes the <li> and <a> display block. Style in your nav partial.
 *
 * usage:
 *
    <ul class="nav">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
    </ul>
 *
 */
.nav {
    list-style-type: none;
    margin-left: 0;
    @extend %clearfix;

    > li {

        &,
        > a {
            display: block;
        }
    }
}


/*
 * Make these nav pattern extensions horizontal instead of stacking them.
 */
.nav--breadcrumb > li, .nav--breadcrumb-path > li, .nav--keywords > li {

    &,
    > a {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
}


/*
 * Makes a list of comma separated keywords. Extends .nav.
 *
 * usage:
 *
    <ul class="nav  nav--keywords>
 *
 */
.nav--keywords {

    > li {

        &:after {
            content: ", ";
        }

        &:last-child:after {
            display: none;
        }
    }
}


/*
 * Simple breadcrumb styling to apply to ordered lists. Extends .nav
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Staff</a></li>
       <li>Proles</li>
   </ol>
 *
 */
.nav--breadcrumb > li + li:before {
    content: "» ";
}


/*
 * Path-like structure for breadcrumbs. Extends .nav
 *
   <ol class="nav breadcrumb--path">
       <li class="breadcrumb__root"><a href=#>scales</a></li>
       <li><a href=#>patterns</a></li>
       <li>breadcrumbs</li>
   </ol>
 *
 */
.nav--breadcrumb-path > li + li:before {
    content: "/ ";
}


/*
 * Assign a delimiter through a data attribute
 *
   <ol class="nav breadcrumb">
       <li><a href=#>Home</a></li>
       <li data-breadcrumb="|"><a href=#>About</a></li>
       <li data-breadcrumb="|"><a href=#>Staff</a></li>
       <li data-breadcrumb="|">Proles</li>
   </ol>
 *
 */
.nav--breadcrumb > li + li[data-breadcrumb]:before {
    content: attr(data-breadcrumb)" ";
}


/*
 * The root of the tree.
 */
.nav--breadcrumb__root {
    font-weight: bold;
}


/*
 * Nav abstractions on screens larger than $palm-end.
 */
@media screen and (min-width: $palm-end) {
    /*
     * Makes the .nav horizontal
     */
    .nav {
        > li {

            &,
            > a {
                display: inline-block;
                *display: inline;
                zoom: 1;
            }
        }
    }


    /*
     * Force nav to occupy 100% of the available width of its parent. Extends .nav.
     *
     * usage:
     *
        <ul class="nav  nav--fit>
     *
     */
    .nav--fit {
        display: table;
        width: 100%;

        > li {
            display: table-cell;

            > a {
                display: block;
            }
        }
    }
}