// ==========================================================================
// Navigation
// ========================================================================== //

///
// Nav abstraction.
// On small screens, .nav simply removes list markers and left margin, applies
// clearfix, and makes the <li> and <a> display block. Style in your nav partial.
//
// usage:
//
//  <ul class="nav">
//     <li><a href=#>Home</a></li>
//     <li><a href=#>About</a></li>
//     <li><a href=#>Portfolio</a></li>
//     <li><a href=#>Contact</a></li>
//  </ul>
//
///
[class*="nav"] {
    list-style-type: none;
    margin-left: 0;
    @extend %clearfix;

    > li {

        &,
        > a {
            display: block;
        }
    }
}


//
// Make nav--keywords horizontal instead of stacking them.
///
.nav--keywords > li {

    &,
    > a {
        @extend %horizontal;
    }
}


//
// Makes a list of comma separated keywords. Extends .nav.
//
// usage:
//
//  <ul class="nav--keywords>
//
///
.nav--keywords {

    > li {

        &:after {
            content: ", ";
        }

        &:last-child:after {
            display: none;
        }
    }
}


//
// Makes the .nav horizontal
// usage:
//
//  <ul class="horizontal-nav">
///
.horizontal-nav {
	> li {
		&, > a {
			display: inline-block;
		}
	}
}


//
// Force nav to occupy 100% of the available width of its parent. Extends .nav.
//
// usage:
//
//  <ul class="horizontal-nav--fit">
//
///
.nav--fit {
	@extend .horizontal-nav
	display: table;
	width: 100%;

	> li {
			display: table-cell;

		> a {
			display: block;
		}
	}
}
