/* ==========================================================================
   Split
   ========================================================================== */

/**
 * Simple split item for creating two elements floated away from one another.
 * You can do a lot of stuff with this, like:
 *
    <dl class="split websites">
        <dt class="split__title">Google</dt>
        <dd>google.com</dd>
        <dt class="split__title">Wikipedia</dt>
        <dd>wikipedia.org</dd>
        <dt class="split__title">CNN</dt>
        <dd>cnn.com</dd>
    </dl>
 *
 * or
 *
    <ul class="split inventory">
        <li><span class="split__title">Noodles</span> 600</li>
        <li><span class="split__title">Sauce</span> 250</li>
        <li><span class="split__title">Mushrooms</span> 530</li>
    </ul>​
 *
 */
.split {
    text-align: right;
    list-style: none;
    margin-left: 0;
}

.split__title {
    text-align: left;
    float: left;
    clear: left;
}