/* ==========================================================================
   Stats
   ========================================================================== */

///
// Simple object to display statistic-like information.
//
// <div class="stat-group">
//     <dl class="stat">
//         <dt class="stat__title">Noodles</dt>
//         <dd class="stat__value">600</dd>
//     </dl>

//     <dl class="stat">
//         <dt class="stat__title">Sauce</dt>
//         <dd class="stat__value">250</dd>
//     </dl>

//     <dl class="stat">
//         <dt class="stat__title">Mushrooms</dt>
//         <dd class="stat__value">530</dd>
//     </dl>
// </div>
//
///
.stat-group {
    @extend %clearfix;
    margin-left: 0;
}

.stat {
    float: left;
    margin-left: msem(0);
}

.stat > a {
    display: block;
}

.stat:first-of-type, .stat__value {
    margin-left: 0;
}
