// ==========================================================================
// Vertical List Object
// ==========================================================================

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Class level namespacing variable
///
$scales-objects-class-namespace: null !default;

//
// Available Variables
///
$vertical-list-delimiter: ',\00A0' !default;
$horizontal-list-spacing-tiny: 0.25em !default;
$horizontal-list-spacing-small: 0.5em !default;
$horizontal-list-spacing-medium: 1em !default;
$horizontal-list-spacing-large: 2em !default;
$horizontal-list-spacing-huge: 4em !default;

//
// Horizontal List classes
///

@mixin VerticalList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: block;
  }
}

%#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList,
.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList {
  @include VerticalList;
}

//
// Vertical List With Spacing
///
.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--spacing-tiny {
  > li {
    margin-bottom: $horizontal-list-spacing-tiny;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--spacing-small {
  > li {
    margin-bottom: $horizontal-list-spacing-small;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--spacing-medium {
  > li {
    margin-bottom: $horizontal-list-spacing-medium;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--spacing-large {
  > li {
    margin-bottom: $horizontal-list-spacing-large;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--spacing-huge {
  > li {
    margin-bottom: $horizontal-list-spacing-huge;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

//
// Character delimited Vertical List
///
.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList--delimited {
  > li {
    &::after {
      content: '#{$vertical-list-delimiter}';
    }

    &:last-child::after {
      content: '';
    }
  }
}

// Pass in a delimiter through a data attribute
.#{$scales-namespace}#{$scales-objects-class-namespace}VerticalList {
  > [data-delimiter]::after {
    content: attr(data-delimiter);
  }
}
