// ==========================================================================
// Block Quotes
// ==========================================================================
///

//
// Scales namespace variable
///
$scales-namespace: null !default;

//
// Available Variables
///
$source-prefix: "—" !default;

//
// Blockquote
///
.#{$scales-namespace}blockquote {
    margin: 0;
}

.#{$scales-namespace}blockquote__quote {
    &:last-of-type {
        margin-bottom: 0;
    }
}

.#{$scales-namespace}blockquote__source {
    display: block;
    text-indent: 0;

    &:before {
        content: $source-prefix;
    }
}
